<div class="hero-section">
  <div class="hero-content">
    <h1 class="main-title">Travel Sync</h1>
    <p class="subtitle">― 旅をもっと手軽に ―</p>
    
    
    
    <div class="app-description">
      <p>Travel Syncは旅を計画のプランニングしたい！</p>
      <p>そんな願いをサポートします。</p>
    </div>
    
    
  </div>
</div>